.posts {
	margin-top: 30px;
}

.cardwidth {
	width: 100%;
}

.profileimg {
	max-width: 90px;
	margin-left: 25px;
	margin-top: 13px;
}

.carddet {
	margin-left: 60px;
}

.likes {
	float: right;
}

.mdl-card__title {
	font-weight: bold;
	color: #64B5F6;
	clear: none;
}

.mdl-card__supporting-text {
	font-size: 18px;
	color: #303030;
}

.postdate {
	margin-left: 8px;
	margin-top: 12px;
	font-size: 12px;
	color: #909090;
}